/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7c3cea;
  --ifm-color-primary-dark: #6b33cb;
  --ifm-color-primary-darker: #5a2aae;
  --ifm-color-primary-darkest: #4a2191;
  --ifm-color-primary-light: #8756ee;
  --ifm-color-primary-lighter: #926cf2;
  --ifm-color-primary-lightest: #9e80f5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #da3d82;
  --ifm-color-primary-dark: #bd3470;
  --ifm-color-primary-darker: #a22b5f;
  --ifm-color-primary-darkest: #87224e;
  --ifm-color-primary-light: #e0558e;
  --ifm-color-primary-lighter: #e66b9a;
  --ifm-color-primary-lightest: #ec7ea6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
